<div>
    <table id="userTable" cellspacing="0">
        <caption></caption>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>职位</th>
            <th>性别</th>
            <th>年龄</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="user in users">
            <td class="row" ng-show="false">{{user.id}}</th>
            <td class="row">{{user.name}}</th>
            <td class="row">{{user.employee.name}}</th>
            <td class="row">{{user.employee.role}}</th>
            <td class="row">{{user.employee.gender}}</th>
            <td class="row">{{user.employee.age}}</th>
            <td class="row">{{user.employee.email}}</th>
            <td class="row">
                <button type="button" ng-click="">修改</button>
                <button type="button" ng-click="">删除</button>
            </td>
        </tr>
    </table>
</div>

