<div id="addScheduleDiv">
    <form id="addScheduleForm">
        <div class="addScheduleDiv">
            <label>课程：</label>
            <select ng-model="schedule.course" ng-options="course as course.name for course in courses">
                <option value="">-----请选择-----</option>
            </select>
        </div>
        <div class="addScheduleDiv">
            <label>顾客：</label>
            <select ng-model="schedule.customer" ng-options="customer as customer.name for customer in customers">
                <option value="">-----请选择-----</option>
            </select>
        </div>
        <div class="addScheduleDiv">
            <label for="userName">时间：</label>
            <input id="userName" type="date"  required ng-model="schedule.time"></div>
        <div class="addScheduleDiv">
            <button id="addScheduleButton" ng-click="addNewSchedule(schedule)">添加</button>
            <button id="cancelAddScheduleButton" type="reset">重置</button>
        </div>
    </form>
</div>
<div>
    <div id="updateScheduleDiv">
        <form id="updateScheduleForm" ng-show="showUpdateSchedule">
            <div class="updateScheduleDiv" ng-show="false">
                <label for="id">Id：</label>
                <input id="id" type="text" ng-model="currentSchedule.id">
            </div>
            <div class="updateScheduleDiv" ng-show="false">
                <label for="employeeId">员工id</label>
                <input id="employeeId" type="text" ng-model="currentSchedule.name">
            </div>
            <div class="updateScheduleDiv">
                <label for="nickname">用户名</label>
                <input id="nickname" type="text" ng-model="currentSchedule.name">
            </div>
            <div class="updateScheduleDiv">
                <label for="name">姓名：</label>
                <input id="name" type="text" ng-model="currentSchedule.employee.name">
            </div>
            <div class="updateScheduleDiv">
                <label for="password">密码：</label>
                <input id="password" type="password" ng-model="currentSchedule.password">
            </div>
            <div class="updateScheduleDiv">
                <label>性别：</label>
                <input type="radio" ng-model="currentSchedule.employee.gender" value="male"> 男
                <input type="radio" ng-model="currentSchedule.employee.gender" value="female"> 女
            </div>
            <div class="updateScheduleDiv">
                <label>职位：</label>
                <input type="radio" ng-model="currentSchedule.employee.role" value="coach"> coach
                <input type="radio" ng-model="currentSchedule.employee.role" value="ops"> ops
                <input type="radio" ng-model="currentSchedule.employee.role" value="hr"> hr
            </div>
            <div class="updateScheduleDiv">
                <label for="age">年龄：</label>
                <input type="text" id="age" ng-model="currentSchedule.employee.age">
            </div>
            <div class="updateScheduleDiv">
                <label for="email">邮箱：</label>
                <input type="email" id="email" ng-model="currentSchedule.employee.email">
            </div>
            <div class="updateScheduleDiv">
                <button id="updateScheduleButton" ng-click="updateSchedule(currentSchedule)">修改</button>
                <button id="cancelUpdateScheduleButton" ng-click="cancelUpdateSchedule()">取消</button>
            </div>
        </form>
    </div>
    <table id="scheduleTable" cellspacing="0">
        <caption>课表</caption>
        <tr>
            <th>课程名</th>
            <th>教练</th>
            <th>时间</th>
            <th>顾客</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="schedule in schedules">
            <td class="row" ng-show="false">{{schedule.id}}</td>
            <td class="row" ng-show="false">{{schedule.course.id}}</td>
            <td class="row" ng-show="false">{{schedule.customer.id}}</td>
            <td class="row" ng-show="false">{{schedule.course.employee.id}}</td>
            <td class="row">{{schedule.course.name}}</td>
            <td class="row">{{schedule.course.employee.name}}</td>
            <td class="row">{{schedule.time}}</td>
            <td class="row">{{schedule.customer.name}}</td>
            <td class="row">
                <button type="button" ng-click="updateCurrentSchedule(schedule)">修改</button>
                <button type="button" ng-click="deleteCurrentSchedule(schedule)">删除</button>
            </td>
        </tr>
    </table>


    <!--<div class="modalDialog" id="deleteUserModal" ng-show="showDeleteUserModal">-->
    <!--<div>-->
    <!--<a href="#closeDeleteUserModal" title="Close" class="close">X</a>-->
    <!--<h2>Modal Box</h2>-->
    <!--<p>确认删除这条用户信息吗？</p>-->
    <!--</div>-->
    <!--</div>-->
</div>

